---
- name: Deploy GLPI docker-compose
  template:
    src: docker-compose.yml.j2
    dest: /opt/glpi/docker-compose.yml

- name: Ensure GLPI stack is running
  command: docker compose up -d
  args:
    chdir: /opt/glpi
