---
- name: Render GLPI docker-compose file
  template:
    src: docker-compose.yml.j2
    dest: "{{ role_path }}/templates/docker-compose.yml"

- name: Deploy GLPI stack
  community.docker.docker_compose_v2:
    project_src: "{{ role_path }}/templates"

- name: Wait for DB to be ready
  shell: "docker exec glpi_db mysql -u root -p{{ glpi_db_root }} -e 'SELECT 1;'"
  register: db_ready
  retries: 10
  delay: 5
  until: db_ready.rc == 0

- name: Fix GLPI plugin permissions
  shell: "docker exec glpi_app chown -R www-data:www-data /var/www/html/plugins"

- name: Activate Inventory plugin
  shell: >
    docker exec glpi_db mysql -u root -p{{ glpi_db_root }} {{ glpi_db_name }}
    -e "UPDATE glpi_plugins SET state = 1 WHERE directory='inventory';"

