entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  selfsigned:
    acme:
      email: test@example.com
      storage: acme.json
      tlsChallenge: true
